In [1]:
import pandas as pd 
import numpy as np

In [2]:
df=pd.read_csv("data/CleanedKaggle/financial_loan_cleaned.csv")

In [3]:
df

,address_state,emp_title,grade,home_ownership,issue_date,last_credit_pull_date,last_payment_date,loan_status,next_payment_date,purpose,...,last_credit_pull_weekday,last_payment_year,last_payment_month,last_payment_day,last_payment_weekday,next_payment_year,next_payment_month,next_payment_day,next_payment_weekday,term_months
0,GA,Other,C,RENT,11-02-2021,13-09-2021,13-04-2021,Charged Off,13-05-2021,car,...,0,2021,4,13,1,2021,5,13,3,60
1,CA,Other,E,RENT,01-01-2021,14-12-2021,15-01-2021,Fully Paid,15-02-2021,car,...,1,2021,1,15,4,2021,2,15,0,36
2,CA,Other,C,RENT,05-01-2021,12-12-2021,09-01-2021,Charged Off,09-02-2021,car,...,6,2021,1,9,5,2021,2,9,1,36
3,TX,Other,B,MORTGAGE,25-02-2021,12-12-2021,12-03-2021,Fully Paid,12-04-2021,car,...,6,2021,3,12,4,2021,4,12,0,60
4,IL,Other,A,MORTGAGE,01-01-2021,14-12-2021,15-01-2021,Fully Paid,15-02-2021,car,...,1,2021,1,15,4,2021,2,15,0,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38571,NJ,Other,C,MORTGAGE,11-07-2021,16-05-2021,16-05-2021,Current,16-06-2021,wedding,...,6,2021,5,16,6,2021,6,16,2,60
38572,NY,Other,C,RENT,11-10-2021,16-04-2021,16-05-2021,Current,16-06-2021,wedding,...,4,2021,5,16,6,2021,6,16,2,60
38573,CA,Other,D,RENT,11-09-2021,16-05-2021,16-05-2021,Current,16-06-2021,wedding,...,6,2021,5,16,6,2021,6,16,2,60
38574,NY,Other,D,RENT,11-10-2021,16-05-2021,16-05-2021,Current,16-06-2021,wedding,...,6,2021,5,16,6,2021,6,16,2,60
38575,NY,Other,F,RENT,11-07-2021,16-05-2021,16-05-2021,Current,16-06-2021,wedding,...,6,2021,5,16,6,2021,6,16,2,60

## States

In [5]:
df['address_state'].unique().shape

(50,)

In [9]:
northeast = ["CT","ME","MA","NH","NJ","NY","PA","RI","VT"]
midwest   = ["IL","IN","IA","KS","MI","MN","MO","NE","ND","OH","SD","WI"]
south     = ["AL","AR","DE","FL","GA","KY","LA","MD","MS","NC","OK","SC","TN","TX","VA","WV"]
west      = ["AK","AZ","CA","CO","HI","ID","MT","NV","NM","OR","UT","WA","WY"]
north_south = {
    "North": northeast + midwest + west,
    "South": south
}
east_mid_west = {
    "East": northeast + south,
    "Middle": midwest,
    "West": west
}

def north_south_apply(x,north_south): 
    if x in north_south['North']:
        return "North" 
    else:
        return "South" 
        
def east_mid_west_apply(x,east_mid_west): 
    if x in east_mid_west['East']:
        return "East" 
    elif x in east_mid_west['Middle']:
        return 'Middle'
    else:
        return "West"

In [ ]:
df['north_south_address']=df['address_state'].apply(north_south_apply(north_south))
df['east_mid_west_address']=df['address_state'].apply(east_mid_west_apply(east_mid_west))